In [ ]:
import pandas as pd

In [4]:
# Define the path to your Excel file
file_path = r'Data\new data.xlsx'

# Load the Excel file
excel_data = pd.ExcelFile(file_path)

# Initialize a dictionary to hold DataFrames
dfs = {}

# Loop through each sheet and store the DataFrame in the dictionary
for sheet_name in excel_data.sheet_names:
    dfs[sheet_name] = pd.read_excel(excel_data, sheet_name=sheet_name, header=0)

# Display the DataFrames
for sheet, df in dfs.items():
    print(f"Sheet name: {sheet}")
    print(df.head())  # Display the first few rows of each DataFrame

Sheet name: Linfield
Empty DataFrame
Columns: [https://mahaffey2024.calicotab.com/mahaffey2024/]
Index: []
Sheet name: YODL 2
     Rk            team            name      category institution  Rk1  R1  \
0    8=  Air Force GoHo     Nathan Good          Open   Air Force  1st  79
1    15  Air Force GoHo     Grace Hoyte          Open   Air Force  1st  78
2   96=  Air Force HaMa     Noah Marino  Open, Novice   Air Force  4th  73
3  114=  Air Force HaMa   Calin Hartzos  Open, Novice   Air Force  4th  74
4   40=  Air Force KeNe  Audrey Neukomm          Open   Air Force  3rd  74

   Rk2  R2  Rk3  R3  Rk4  R4  Team  Total    Avg  Trim  Stdev
0  1st  78  3rd  77  3rd  75     8    309  77.25  77.5   1.48
1  1st  77  3rd  78  3rd  74     8    307  76.75  77.5   1.64
2  3rd  76  3rd  75  1st  76     5    300  75.00  75.5   1.22
3  3rd  75  3rd  74  1st  76     5    299  74.75  74.5   0.83
4  2nd  78  1st  74  1st  78     9    304  76.00  76.0   2.00
Sheet name: UCLA IV
   Rk                name category                                team  Rk1  \
0   1   Tejas Subramaniam      NaN  Stanford endogeneity strikes again  2nd
1   2        Elizabeth Li      NaN  Stanford endogeneity strikes again  2nd
2   3  Conna Leslie-Keefe      NaN       UNSW Leslie-Keefe &amp; Doyle  1st
3   4    Amitai Ben Porat      NaN               Stanford Intransigent  1st
4  5=       Claire Beamer      NaN               Stanford Intransigent  1st

   R1  Rk2  R2  Rk3  R3  Rk4  R4  Rk5  R5  Total   Avg  Stdev
0  81  1st  82  1st  81  1st  82  1st  82    408  81.6   0.49
1  80  1st  81  1st  82  1st  80  1st  81    404  80.8   0.75
2  81  1st  81  1st  81  2nd  81  3rd  79    403  80.6   0.80
3  79  1st  80  2nd  80  3rd  78  1st  83    400  80.0   1.67
4  80  1st  79  2nd  80  3rd  78  1st  81    398  79.6   1.02
Sheet name: YODL 1
  Rk           name category            team institution  Rk1  R1  Rk2  R2  \
0  1  Fallon Eggett     Open  Air Force EgLi   Air Force  1st  79  1st  77
1  2   Dylan Berman     Open    Seattle HeBe     Seattle  1st  77  1st  78
2  3  Jacquelyn Liu     Open  Air Force EgLi   Air Force  1st  77  1st  77
3  4    Nathan Good     Open  Air Force GoHo   Air Force  2nd  79  1st  77
4  5  Selena Little     Open  Air Force LiDo   Air Force  2nd  77  1st  78

   Rk3  R3  Rk4  R4  Team  Total    Avg  Stdev  Trim
0  1st  80  1st  79    12    315  78.75   1.09  79.0
1  1st  78  2nd  78    11    311  77.75   0.43  78.0
2  1st  80  1st  77    12    311  77.75   1.30  77.0
3  2nd  76  1st  78    10    310  77.50   1.12  77.5
4  1st  79  3rd  76     9    310  77.50   1.12  77.5
Sheet name: Princeton
   Rk            name category                                team  Rk1  R1  \
0   1      Matt Caito      NaN                 Open Matt and Paula  1st  81
1   2  Matt Mauriello      NaN                  Open Matt and Robi  1st  80
2   3       Tanae Rao      NaN                      Inner Temple B  1st  80
3   4       Sam Druce      NaN  Open lubricated probe covers for m  1st  82
4  5=        Ayal Mor      ESL                             HUJI AA  1st  80

   Rk2  R2  Rk3  R3  Rk4  R4  Rk5  R5 Total   Avg Stdev
0  1st  84  1st  81  1st  82  1st  83   411  82.2  1.17
1  1st  83  3rd  79  1st  82  1st  84   408  81.6  1.85
2  2nd  82  2nd  81  1st  82  2nd  82   407  81.4   0.8
3  2nd  81  2nd  82  2nd  79  1st  82   406  81.2  1.17
4  1st  84  2nd  80  1st  82  4th  79   405    81  1.79
Sheet name: Steve Hunt
Empty DataFrame
Columns: []
Index: []
Sheet name: Carroll Teaching
Empty DataFrame
Columns: []
Index: []